*{
	padding:0;
	margin:0;
}
.menu{
	background-color:#ffffff;
    text-align:center;
}
.menu ul{
	display:inline-flex;
	list-style:none;     /*for removing a list type order(ol) or unorder(ul)*/
    padding-top: 35px;
}
.menu ul li{
	padding:10px;
	margin:20px;
	line-height:5px;
    font-size:15px;
    font-family:sans-serif;
}
.menu a{
	text-decoration:none;
	color:black;
}
.active, .menu ul li a:hover{
  color:blue;	
}
.sub-menu{
	display:none;
}
.active, .menu ul li:hover .sub-menu{
        display:block;
        
		margin-top:15px;
		margin-left:-15px;
}