.intro-head {
    text-align: center;
    background: linear-gradient(to right, rgb(77, 102, 191), rgb(10, 39, 143));
    color: white;
    padding: 30px 0;
    font-family: "Roboto", sans-serif;

    h1 {
        margin-bottom: 25px;
    }

    h3 {
        display: inline-block;
        width: 49%;
        font-size: 20px;
    }
}
.main {
    margin: 25px 120px 0 120px;

    .git-start {
        .btn-logo {
            background-image: url("/src/resources/img/icons8-christmas-star-24.png");
        }

        background:#d6d8d9;
        border: 1px solid #c6c8ca;
        ;
        border-radius:5px;

        p {
            font-size: 18px;
            display: inline-block;
            padding: 18px 0 18px 22%;
        }

        span {
            background: #333;
            border: 1px solid black;
            padding: 5px 5px;
        }
    }
}